.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgba(233, 222, 209, 0.701);

  height: 89vh;
}

.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* TEMPORARY */
.scrollDiv {
  height: 15rem;
  overflow-y: scroll;
  border-radius: 0.5rem;

  background-color: white;
}

.userTableStat {
  display: flex;
  gap: 5rem;
}

.table th {
  background-color: rgb(60, 57, 57);
  color: white;
  text-align: left;
  padding: 1rem;
}

.table td {
  padding: 0.5rem 1rem;
  text-align: left;
}

.tableBody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableBody tr:nth-child(odd) {
  background-color: #fff;
}

.deleteIcon {
  padding-left: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.deleteIcon:hover {
  color: rgb(242, 108, 108);
  color: red;
}

.tableTitle {
  margin-bottom: 0.5rem;
}
