.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table {
  border-collapse: collapse;
}

.userTableStat {
  display: flex;
  gap: 5rem;
}

.table tr
/* .table td */ {
  border: 1px solid black;
}

.table th {
  /*  border: 2px solid black; */
  background-color: rgb(60, 57, 57);
  color: white;
  text-transform: capitalize;
  text-align: left;
  padding: 1rem;
}

.table td {
  padding: 0.5rem 1rem;
  text-align: left;
}

.tableBody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.deleteBtn {
  background-color: red;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: rgb(242, 108, 108);
}
