.adminContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgba(233, 222, 209, 0.701);

  height: 89vh;
}

.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* TEMPORARY */
.scrollDiv {
  max-height: 16rem;
  overflow-y: auto;
  border-radius: 0.5rem;

  background-color: white;

  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
  transition: scrollbar-color 0.3s ease-out;
}

/*SCROLLBAR*/
.scrollDiv::-webkit-scrollbar {
  width: 10px;
}

.scrollDiv::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.scrollDiv::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.scrollDiv::-webkit-scrollbar-button {
  display: none;
}
/*SCROLLBAR*/

.userTableStat {
  display: flex;
  gap: 5rem;
}

.table th {
  background-color: rgb(60, 57, 57);
  color: white;
  text-align: left;
  padding: 1rem;
}

.table td {
  padding: 0.5rem 1rem;
  text-align: left;
}

.tableBody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableBody tr:nth-child(odd) {
  background-color: #fff;
}

.deleteIcon {
  padding-left: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.deleteIcon:hover {
  color: rgb(242, 108, 108);
  color: red;
}

.tableTitle {
  margin-bottom: 0.5rem;
}
