.authBackground {
  height: 100vh;
  background-image: url(../images/bus_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.authContainer {
  padding: 0 8rem;
  display: flex;
  gap: 25rem;
}

.textContainer {
  text-align: center;
}

.title {
  padding-top: 5rem;
  width: 23rem;
}

.ctaTitle {
  padding-top: 7rem;
  width: 23rem;
}

.loginContainer {
  background-color: rgb(160, 179, 224);
  border-radius: 1rem;
  width: 20rem;
  padding: 0 2rem 2rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labelInput {
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
}

.label {
  font-size: 1rem;
  padding-bottom: 0.2rem;
}

.input {
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 15rem;
  font-weight: 500;
  background-color: lightgrey;

  border-radius: 1rem;
}

.authBtn {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: white;
  color: black;
  text-decoration: none;
  box-shadow: 0 0 2px rgba(1, 11, 20, 0.712);
}

.authBtn:hover {
  animation: buttonHover 0.1s ease-in-out forwards;
}

.cancelBtn {
  background: none;
  border: none;
  color: rgb(39, 52, 136);
  font-size: 1rem;
  cursor: pointer;
}

.cancelBtn:hover {
  color: rgb(76, 81, 116);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.error {
  padding-left: 0.5rem;
  color: red;
  border-radius: 1rem;
  width: fit-content;
}

.successMessage {
  color: green;
  background-color: lightgreen;
  border-radius: 1rem;
  padding: 0.5rem 1.2rem;
}

@keyframes buttonHover {
  from {
    background-color: white;
    transform: scale(1);
  }

  to {
    background-color: rgb(95, 156, 209);
    transform: scale(1.05);
  }
}
