.logoutContainer {
  background-color: white;
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  width: 20rem;
  text-align: center;
}

.confirmLogoutBtn {
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #2f6588;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.confirmLogoutBtn:hover {
  background-color: #5a91b3;
}

.successMessage,
.errorDescription {
  margin: 2rem 0;
}

.logoutMessage {
  font-weight: 500;
  font-size: 1.5rem;
}
