.homeContainer {
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.homeTitle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 3rem 0 3rem 0;
  letter-spacing: 0.2rem;
  font-size: 4rem;
}

.homeDescription {
  width: 30rem;
  margin-bottom: 5rem;
}

.navBoxContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navBox {
  background-color: rgba(85, 108, 150, 0.779);
  cursor: pointer;
  border-radius: 1rem;
  width: 15rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navBox:hover {
  animation: scaling 0.2s ease-in-out forwards;
}

.navBoxContainer a:link,
.navBoxContainer a:active,
.navBoxContainer a:visited {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

@keyframes scaling {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}
