.planContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.planBox {
  height: 34rem;
  width: 53rem;
  display: flex;
  flex-direction: column;
  background-color: #a4d1ee;
  border-radius: 1rem;
  padding: 2rem 2rem 0 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.planBoxBody {
  display: flex;
  gap: 6rem;
  height: 27rem;
  justify-content: space-around;
}

.planBoxFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planBoxFooter button {
  font-size: 1rem;
  margin-top: 3rem;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: #1a4967;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.planBoxFooter button:hover {
  cursor: pointer;
  background-color: #2f6588;
}

.tripDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.tripDiv h2 {
  margin-bottom: 3rem;
  margin-top: 0;
  font-size: 2rem;
}

.seatsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28rem;
}

.seatsDivHeader {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.seatsDivHeader span {
  font-size: 1.2rem;
}

.seatsDivHeader span:hover {
  color: rgb(194, 25, 25);
  cursor: pointer;
  animation: scaling 0.2s ease-in;
}

.seats {
  height: 24rem;
  width: 15rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
}

.seat {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: #00d26a;
  border: 1px solid black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgb(51, 51, 51) 0px 0px 0px 1px;
}

.selected {
  background-color: black !important;
  color: white;
}

.select {
  width: 15.5rem;
  padding: 0.3rem 2rem 0.3rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.select option:checked {
  background-color: #1a4967;
  color: white;
}

.dropDownBox {
  margin-top: 0.5rem;
}

.detailsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 7rem;
  margin-top: 2rem;
}

.detailsDiv li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsDiv ul {
  list-style-type: none;
  padding-left: 0;
}

.detailsDiv ul li {
  padding: 0.25rem 0;
}

.noItemMessage {
  font-style: italic;
  color: rgba(90, 89, 89, 0.832);
}

.noSeats {
  margin-top: 9rem;
}

.noPrice {
  color: white;
}

.noSeatsDiv {
  height: 26rem;
  width: 15rem;
  padding: 0 8px;
  text-align: center;
}

.greenIndicatorIcon {
  font-size: 2rem;
  color: lightgreen;
}

.redIndicatorIcon {
  font-size: 2rem;
  color: red;
}

.blackIndicatorIcon {
  font-size: 2rem;
  color: black;
}

.totalDiv {
  text-align: center;
  background-color: #33688a;
  color: white;
  border-radius: 0.5rem;
  padding: 0;

  padding: 0.5rem 0;
}

.totalDiv p {
  margin: 0;
}

.priceDiv {
  text-align: center;
  background-color: #33688a;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

.priceDiv p {
  margin: 0;
}

.seatPrice,
.totalPrice {
  padding-bottom: 1rem;
}

.cellStyle {
  border: 1px solid black;
  margin: 0.5rem 0rem;
  padding: 6px;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: lightgreen;
  cursor: pointer;
  border-radius: 0.5rem;
}

.disabledCellStyle {
  visibility: hidden;
}

.reserved {
  background-color: red;
  cursor: not-allowed;
  pointer-events: none;
}

@keyframes scaling {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
