.planContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.planBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(147, 173, 232, 0.832);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.planBoxBody {
  display: flex;
  gap: 6rem;
}

.planBoxFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tripDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.seats {
  max-height: 12rem;
  width: 20rem;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.seat {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background-color: green;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  padding: 0.3rem 1.5rem;
  border-radius: 1rem;
}

.dropDownBox {
  margin-top: 0.8rem;
}
