@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

.profileContainer {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.profileBox {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #a4d1ee;
  width: 40rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profileBox input {
  font-family: "Roboto", sans-serif;
}

.profileBoxHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.editDiv {
  display: flex;
  align-items: center;
}

.editDiv h2 {
  padding-left: 1.5rem;
  font-size: 1.7rem;
}

.editIcon {
  font-size: 1.2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.editIcon:hover {
  color: rgb(64, 61, 61);
}

.profileIcon {
  font-size: 5rem;
}

.profileIconDiv {
  width: 100%;
  text-align: center;
}

.profileForm {
  display: flex;
  gap: 2rem;
  align-items: start;
  height: 22rem;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.profileBoxFooter {
  margin-bottom: 1rem;
}

.leftDiv,
.rightDiv {
  height: 20rem;
}

.saveBtn {
  border: none;
  background-color: #1a4967;
  color: white;
  font-size: 1rem;
  padding: 0.6rem 1.7rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.saveBtn:hover {
  background-color: #346483;
}
.profileInput {
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 15rem;
  font-weight: 500;
  background-color: #fff;

  border-radius: 1rem;
}

.changePassword {
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.disabledStyle {
  background-color: #1a496790;
}
