@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.noReservationsMessage {
  font-style: italic;
  color: rgb(84, 80, 80);
}

.resTitle {
  margin: 0;
}

.addNew {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: #1a4967;
  color: white;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  text-decoration: none;
}

.addNew:hover {
  background-color: #396580;
}

.addNew p {
  margin: 0;
}

.resBox {
  background-color: #a4d1ee;
  width: 65rem;
  height: 36rem;
  border-radius: 1rem;
  padding: 1rem;
  height: 36.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* 
  overflow-y: auto;
  overflow-x: hidden; */
}

.resBoxBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 33rem;
}

.resDataList {
  height: 9rem;
  width: 12rem;
  list-style-type: none;
  background-color: #5a91b3;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: black;

  overflow-y: auto;
}

.scrollDiv {
  overflow-y: auto;
  height: 8.5rem;
}

/**/
.resDataList::-webkit-scrollbar {
  width: 10px;
}

.resDataList::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.resDataList::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
/* 
.resBox::-webkit-scrollbar {
  width: 10px;
}

.resBox::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.resBox::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
 */
/**/

.resBoxBody::-webkit-scrollbar {
  width: 10px;
}

.resBoxBody::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.resBoxBody::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.resDataList li {
  display: flex;
  gap: 0.4rem;
  align-items: flex-start;
}

.deleteIconContainer {
  color: black;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.deleteIcon {
  font-size: 1.2rem;
}

.deleteIcon:hover {
  color: rgb(190, 33, 33);
  animation: scaling 0.2s ease-out;
}

.dataIcon {
  height: 1.1rem;
  width: 1.1rem;
  flex-shrink: 0;
}

@keyframes scaling {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}
