.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addNew {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(29, 29, 123);
  color: white;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.addNew p {
  margin: 0;
}

.resBox {
  background-color: rgb(121, 154, 207);
  width: 70%;
  height: 36rem;
  border-radius: 1rem;

  padding: 1rem;
}

.resBoxBody {
  display: flex;
  flex-wrap: wrap;
  height: 32rem;
  overflow-y: auto;
}

.resDataList {
  height: fit-content;
  width: 11rem;
  list-style-type: none;
  background-color: rgb(43, 82, 158);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: white;
}

.deleteIcon {
  color: black;
  /* margin-left: 5rem; */
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.deleteIcon:hover {
  color: red;
}
